{% extends "users_layout.html" %} {% load static %} {% block title %} Security {% endblock title %} {% block style %}
<style>
    main p,
    main li {
        color: #000000;
        font-size: 18px;
    }
    
    main ol {
        /* margin: 0; */
        padding: 11px;
    }
    
    .changep-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .changep-box form {
        width: 300px;
        margin: 40px 0px;
    }
    
    @media (max-width:789px) {
        .uk-section.sec {
            padding-top: 135px;
        }
    }
</style>

{% endblock style %} {% block breadcrumb %}

<!-- breadcrumb content begin -->
<div class="uk-section uk-padding-remove-vertical mt-2">
    <div class="uk-container">
        <div class="uk-grid">
            <div class="uk-width-1-1 in-breadcrumb">
                <ul class="uk-breadcrumb uk-float-left">
                    <li><a href="/">Home</a></li>
                    <li><span>Change Password</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb content end -->

{% endblock breadcrumb %} {% block content %}


<div class="uk-section sec">

    <div class="uk-container">
        <div class="changep-box">

            <form action="" method="post">{% csrf_token %}
                <p>Change password </p>


                {% for field in form %}
                <div class="uk-margin-small uk-width-1-1 uk-inline">
                    <label class="uk-form-label" for="form-stacked-text">{{field.label}}</label>
                    <div class="uk-form-controls">
                        {{field}}
                        <span class="uk-form-msg uk-text-danger" id=""></span>
                    </div>
                </div>
                {% endfor %}



                <div class="uk-margin-small uk-width-1-1">
                    <button class="uk-button uk-width-1-1 uk-button-primary uk-border-rounded uk-float-left" type="submit" name="submit">Reset Password</button>
                </div>


            </form>


        </div>
    </div>
</div>



{% endblock content %}